	body{
  		background-color: #000b10 !important;
 		}
  		   /*fundo do corpo todo preto*/
 		
	
	
		
 		

 		
		.cor-button{
    	background-color: #2574A9;
    	color:white;
    	border-color: blue;
 		}

 		.cor-tarefas{
    	color:white;
    	border-color:#006400;
 		}

 		.button-task{ 
 		margin-top: 10px;
 		}

 		.imagem-de-logo{
 			width: 115px;
 		}

 		.centro-texto{
 			text-align: center;
 		
 		}

  		.input-task{
  			padding-left: 20px;
  		}

 		.janela{
 			background-color: ;
 			margin-top: 10px; 
			border:2px solid ; 
			padding: 30px 100px 30px 100px; 
			text-align:justify;
			 		}
		.janela-tarefa{
			padding: 500px 100px 30px 100px; 
			text-align:justify;
			margin-bottom: 10px;
			
		}

		.janela-tempo{
			padding: 30px 100px 30px 100px; 
			text-align:justify;
			margin-bottom: 10px;
			margin-top: 10px;
		}
 		
 		
